<div class="row">
    <div class="container blogBox">
			<div class="row  justify-content-center headerRow">
      <div class="col-8">
        <h2>
          <a class="blogTitle text-uppercase" href="/blog/{{id}}">{{title}}</a>
        </h2>
      </div>

      <div class="col-4">
        <p class="blogCreate text-right">Created by
          {{user.username}}
          on
          {{create_date}}
        </p>
      </div>
			</div>
    <div class="blogDesc">
      <p class="text-center blogDescMain">
        {{description}}
      </p>
    </div>
    </div>

  </div>